<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--    We can use annotations instead-->
    <!--    Every servlet has its own mapping -->
    <!--    Define servlet tag then define servlet-mapping tag-->
    <servlet>
        <servlet-name>sayHello</servlet-name> <!-- your own name for the servlet-->
        <servlet-class>com.example.HelloServlet</servlet-class> <!--Full qualified class name -->
        <!-- For servletConfig interface we use init param(s)-->
        <init-param>
            <param-name>name</param-name>
            <param-value>ali</param-value>
        </init-param>
        <init-param>
            <param-name>topic</param-name>
            <param-value>java ee</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>sayHello</servlet-name>
        <url-pattern>/hello</url-pattern> <!-- url to this servlet -->
    </servlet-mapping>

    <servlet>
        <servlet-name>servletConf</servlet-name> <!-- your own name for the servlet-->
        <servlet-class>com.example.ServletConfigDemo</servlet-class> <!--Full qualified class name -->
        <!-- For servletConfig interface we use init param(s)-->
        <init-param>
            <param-name>name</param-name>
            <param-value>ali</param-value>
        </init-param>
        <init-param>
            <param-name>topic</param-name>
            <param-value>java ee</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletConf</servlet-name>
        <url-pattern>/servlet-config</url-pattern> <!-- url to this servlet -->
    </servlet-mapping>

</web-app>